In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("../input/covid19-tweets/covid19_tweets.csv")

In [29]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [30]:
df["user_location"].value_counts()

India                             3493
United States                     2258
New Delhi, India                  1627
Mumbai, India                     1296
Washington, DC                    1270
                                  ...
Mendocino County, NCalifornia        1
United Kingdom - UK wide cover       1
Ladysbridge                          1
Earth‚Äôs Atmosphere                   1
Aarhus, Central Jutland              1
Name: user_location, Length: 25656, dtype: int64

In [15]:
len(df["user_location"].value_counts())

25656

Percentage of null values missing in the dataframe.

In [17]:

df.isnull().sum()*100/len(df)

user_name            0.000000
user_location       20.353903
user_description     5.679964
user_created         0.000000
user_followers       0.000000
user_friends         0.000000
user_favourites      0.000000
user_verified        0.000000
date                 0.000000
text                 0.000000
hashtags            28.645233
source               0.035402
is_retweet           0.000000
dtype: float64

In [18]:

df["hashtags"].value_counts()

['COVID19']                                                               35057
['Covid19']                                                                4552
['covid19']                                                                2894
['coronavirus', 'CoronaVirusUpdate', 'COVID19', 'CoronavirusPandemic']      550
['coronavirus']                                                             503
                                                                          ...
['PhotoOfTheDay']                                                             1
['thursdayvibes', 'coronavirus', 'COVID19']                                   1
['TrumpLIES']                                                                 1
['Kerala', 'KozhikodeAirCrash']                                               1
['Bitcoins']                                                                  1
Name: hashtags, Length: 49533, dtype: int64

In [19]:
len(df)

166656

In [ ]:
# df["user_verified"].value_counts()

In [ ]:
# df["user_description"].value_counts()[:5]

In [ ]:
# df["source"].value_counts()

First, let's try to group all the records by each country possible. Let's try using regex pattern.

In [ ]:
# import matplotlib.pyplot as plt
# %matplotlib inline

# df["user_location"].value_counts().plot.bar()

In [ ]:

# df.groupby("user_location").size().plot.bar()

In [ ]:

# for i in df["user_location"]:
#     print(type(i))
#     if str(i).startswith("‚àö√∫T:"):
#         print("yes")
#         print(i)

Let's use the outputs from pd.to_numeric and boolean indexing to find the numerical values out of the column: user_location. But these values are not the ones we are looking for and that means they are represented as string values.

In [ ]:


# df[pd.to_numeric(df.user_location, errors='coerce').notnull()]

In [ ]:
# import re
# pattern=re.compile('^‚àö√∫T:')

# ## THIS WAY YOU CAN CHECK FOR MULTIPLE STRINGS
# ## LIKE
# ## regex=re.compile('^hello|^john|^world')

# for i in df["user_location"]:
#     if re.match(pattern, str(i)):
#         print("Yes")

In [ ]:
# df[df["user_location"]=="‚àö√∫T: 37.322821,-121.809369"]

In [ ]:
# df[df.index.isin([16893, 16894])]

In [ ]:
# df.loc[df["user_name"]=="Charlie Isaacs", "user_location"]

In [ ]:
# import re
# from collections import defaultdict
# pattern=re.compile('√úT:')
# d=defaultdict(list)

# ## THIS WAY YOU CAN CHECK FOR MULTIPLE STRINGS
# ## LIKE
# ## regex=re.compile('^hello|^john|^world')

# for i in df["user_location"]:
#     if re.match(pattern, str(i)):
#         d[i].append(i)
        
#         d[i].append(df.index.get_loc)
        
#         d[df[df["user_location"]==i].index.values]=
#[df["user_location"]==i].index

In [ ]:
# for i in df["user_location"]:
#     if str(i).startswith('√úT:'):
#         d[i].append(df[df["user_location"]==i].index.values)

In [ ]:
# import re
# from collections import defaultdict
# pattern=re.compile('√úT:')
# d=defaultdict(list)

# df.index[df["user_location"]=='√úT:']

In [ ]:
# df.index[df.user_location.str.contains('^√úT:')]

# df.iloc[df[s].index].index

# idx = df.index[df.Channel.isin(['A', 'B'])]

# for i in df["user_location"]:
    
#     df.index.get_loc(df.index[df.user_location.str.contains('^√úT:', na=False)][0])

In [31]:
#This is exactly what I wanted
df_userlocation=df[df['user_location'].str.contains('^√úT:') == True].user_location

In [32]:
df_userlocation.head()

979         √úT: 52.5127, 13.3811
1968      √úT: 51.551339,0.013024
2203    √úT: -26.532499,28.376949
2295     √úT: 3.099457,101.681025
2660     √úT: 51.534976,-0.122796
Name: user_location, dtype: object

In [33]:
df_userlocation=df_userlocation.reset_index()

In [34]:
df_userlocation.head()

   index             user_location
0    979      √úT: 52.5127, 13.3811
1   1968    √úT: 51.551339,0.013024
2   2203  √úT: -26.532499,28.376949
3   2295   √úT: 3.099457,101.681025
4   2660   √úT: 51.534976,-0.122796

In [35]:
len(df_userlocation)

320

In [ ]:
# df_userlocation.index.values

In [ ]:
# from geopy.geocoders import Nominatim
# # create the locator
# geolocator = Nominatim(user_agent="myGeocoder")

# # getting the location address
# location = geolocator.reverse("52.5127, 13.3811")
# print(location)

In [ ]:
# location2 = geolocator.reverse("51.551339,0.013024")

In [ ]:
# location2

In [ ]:
# location3=geolocator.reverse("-26.532499,28.376949")
# str(location3)

In [ ]:
# s="√úT: 52.5127, 13.3811"
# s.lstrip().rstrip()[4:]

In [ ]:
# for i in df_userlocation["user_location"]:
#     location = geolocator.reverse(i.lstrip().rstrip()[4:])
#     print(location)

In [25]:

# from geopy.geocoders import Nominatim
# def lat_long_conversion(df, col1):
#     df["address"]=""#let's add a new column to the same dataframe in order to add the results at appropriate indexes
#     geolocator = Nominatim(user_agent="myGeocoder")
#     for i in range(len(df[col1])):
#         location = geolocator.reverse(df[col1][i].lstrip().rstrip()[4:])
#         df.loc[i, "address"]=str(location)#without str in the statement here it issued an error saying cannot assign a multiindex values.
#         #that's because values are separated by commas in an address
#     return df

In [36]:
# df_userlocation_altered=lat_long_conversion(df_userlocation, "user_location")

In [ ]:
# df_userlocation.head()

In [ ]:
# df_userlocation["index"]

In [ ]:
# for i in df_userlocation["user_location"]:
#     print(i.lstrip().rstrip()[4:])
    
# Observation:
# Looks like we have some text in the column: "wa Tatakho"
# Also value missing in: 33.87572,- (getting a value error for the missing value)

In [ ]:
# Looks like Latitude and Longitude with values 0.0,0.0 should not be an issue

# geolocator.reverse("0.0,0.0")

In [ ]:
# Getting a ValueError: Must be a coordinate pair or Point
# geolocator.reverse("33.87572,-")

In [ ]:
# df_userlocation.drop("address", axis=1, inplace=True)

In [ ]:
# df_userlocation.head()

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:
#Let's remove the text from the column and also the latitude and longitude with a missing value from the column
#but this did not work

# delete_row = df_userlocation[df_userlocation["user_location"]=="√úT:kwa Tatakho"].index
# df_userlocation.drop(delete_row, axis=0, inplace=True)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:
#removed index=126252 from the dataframe
# df_userlocation.drop(233, inplace=True)

In [ ]:
# len(df_userlocation)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("wa Tatakho")]

In [ ]:


# df_userlocation[df_userlocation["user_location"].str.contains("33.87572,-")]

In [ ]:
#removed index=137030 from the dataframe
# df_userlocation.drop(264, inplace=True)

In [ ]:
# len(df_userlocation)

In [ ]:
# df_userlocation[df_userlocation["user_location"].str.contains("33.87572,-")]

In [37]:

from geopy.geocoders import Nominatim

def lat_long_conversion(df, col1):
    df["address"]=""#let's add a new column to the same dataframe in order to add the results at appropriate indexes
    geolocator = Nominatim(user_agent="myGeocoder")
    for i in range(len(df[col1])):
        try:
            location = geolocator.reverse(df[col1][i].lstrip().rstrip()[4:])
            df.loc[i, "address"]=str(location)#without str in the statement here it issued an error saying cannot assign a multiindex values.
        #that's because values are separated by commas in an address
        except:
            print("something's wrong with the coordinates {}".format(df[col1][i].lstrip().rstrip()[4:]))
    return df.head()

In [38]:
#It worked, yay!

lat_long_conversion(df_userlocation, "user_location")

something's wrong with the coordinates 19.,-155.93493
something's wrong with the coordinates wa Tatakho
something's wrong with the coordinates 33.87572,-

,index,user_location,address
0,979,"√úT: 52.5127, 13.3811","Schlacht um Berlin, Gertrud-Kolmar-Stra√üe, Mit..."
1,1968,"√úT: 51.551339,0.013024","52, Heyworth Road, London Borough of Newham, L..."
2,2203,"√úT: -26.532499,28.376949","Lesedi Ward 8, Lesedi Local Municipality, Sedi..."
3,2295,"√úT: 3.099457,101.681025","Tadika Sempurna, Jalan Desa Permai, Taman Desa..."
4,2660,"√úT: 51.534976,-0.122796","Chapel Down, Goods Way, Pentonville, King's Cr..."

In [39]:
df_userlocation.head()

,index,user_location,address
0,979,"√úT: 52.5127, 13.3811","Schlacht um Berlin, Gertrud-Kolmar-Stra√üe, Mit..."
1,1968,"√úT: 51.551339,0.013024","52, Heyworth Road, London Borough of Newham, L..."
2,2203,"√úT: -26.532499,28.376949","Lesedi Ward 8, Lesedi Local Municipality, Sedi..."
3,2295,"√úT: 3.099457,101.681025","Tadika Sempurna, Jalan Desa Permai, Taman Desa..."
4,2660,"√úT: 51.534976,-0.122796","Chapel Down, Goods Way, Pentonville, King's Cr..."

In [40]:
#saving this file to /kaggle/working/ in the output directory. saving here will save the file outside the current session so
#can use it tomorrow. Proud of you Rockstar!

df_userlocation.to_csv("/kaggle/working/address_extracted.csv")

In [41]:

df2=pd.read_csv("./address_extracted.csv")

In [42]:
df2.head()

,Unnamed: 0,index,user_location,address
0,0,979,"√úT: 52.5127, 13.3811","Schlacht um Berlin, Gertrud-Kolmar-Stra√üe, Mit..."
1,1,1968,"√úT: 51.551339,0.013024","52, Heyworth Road, London Borough of Newham, L..."
2,2,2203,"√úT: -26.532499,28.376949","Lesedi Ward 8, Lesedi Local Municipality, Sedi..."
3,3,2295,"√úT: 3.099457,101.681025","Tadika Sempurna, Jalan Desa Permai, Taman Desa..."
4,4,2660,"√úT: 51.534976,-0.122796","Chapel Down, Goods Way, Pentonville, King's Cr..."

In [43]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [46]:
df.loc[[979]]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
979,Andri Yatim,"√úT: 52.5127, 13.3811","BLM, Everton, F1, Art, Music, Movies, Food - A...",2009-01-03 12:14:16,826,2078,2635,False,2020-07-25 11:59:15,Your religion is absolute bullshit if it insis...,NaN,Twitter Web App,False

In [48]:
df=df.reset_index()

In [51]:
df.head()

,index,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [52]:
df["index"]

0              0
1              1
2              2
3              3
4              4
           ...
166651    166651
166652    166652
166653    166653
166654    166654
166655    166655
Name: index, Length: 166656, dtype: int64

In [53]:
df2["index"]

0         979
1        1968
2        2203
3        2295
4        2660
        ...
315    163850
316    164022
317    164683
318    165515
319    165848
Name: index, Length: 320, dtype: int64

In [59]:
# df2_dict = df2.set_index('index').to_dict()

In [58]:
# df2_dict

In [57]:

# df['index'] = df['index'].apply(lambda x: df2_dict[x])

In [60]:
df = df.set_index('index')

In [62]:
df2 = df2.set_index('index')

In [63]:
df2.head()

,Unnamed: 0,user_location,address
index,,,
979,0,"√úT: 52.5127, 13.3811","Schlacht um Berlin, Gertrud-Kolmar-Stra√üe, Mit..."
1968,1,"√úT: 51.551339,0.013024","52, Heyworth Road, London Borough of Newham, L..."
2203,2,"√úT: -26.532499,28.376949","Lesedi Ward 8, Lesedi Local Municipality, Sedi..."
2295,3,"√úT: 3.099457,101.681025","Tadika Sempurna, Jalan Desa Permai, Taman Desa..."
2660,4,"√úT: 51.534976,-0.122796","Chapel Down, Goods Way, Pentonville, King's Cr..."

In [64]:
df2.drop("Unnamed: 0", axis=1, inplace=True)

In [66]:
# df.update(df2)
# df.reset_index(inplace=True)

In [76]:
df=df.reset_index()

In [68]:
df.loc[[979]]

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
index,,,,,,,,,,,,,
979,Andri Yatim,"√úT: 52.5127, 13.3811","BLM, Everton, F1, Art, Music, Movies, Food - A...",2009-01-03 12:14:16,826,2078,2635,False,2020-07-25 11:59:15,Your religion is absolute bullshit if it insis...,NaN,Twitter Web App,False

In [70]:
df2=df2.reset_index()

In [73]:
m = df2.set_index('index')['address'].to_dict()

In [87]:
df = df.set_index('index')

In [88]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
index,,,,,,,,,,,,,
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [89]:
v = df.filter(like='user_location')

In [91]:
v

               user_location
index
0                 astroworld
1               New York, NY
2           Pewee Valley, KY
3       Stuck in the Middle
4          Jammu and Kashmir
...                      ...
166651                   NaN
166652         Sarasota, FL
166653         Baltimore, MD
166654          Montr√©al, QC
166655           Connecticut

[166656 rows x 1 columns]

In [92]:
df[v.columns] = v.replace(m)

In [94]:
df=df.reset_index()

In [96]:
df.loc[[979]]

,index,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
979,979,Andri Yatim,"√úT: 52.5127, 13.3811","BLM, Everton, F1, Art, Music, Movies, Food - A...",2009-01-03 12:14:16,826,2078,2635,False,2020-07-25 11:59:15,Your religion is absolute bullshit if it insis...,NaN,Twitter Web App,False

In [103]:
df.loc[[2295]]

,index,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
2295,2295,Free Malaysia Today,"√úT: 3.099457,101.681025",Free and Independent #FMTNews,2010-01-05 16:17:15,152936,2,2,False,2020-07-25 11:07:03,Senior Minister for Infrastructure Fadillah Yu...,NaN,Twitter Web App,False

In [113]:
c=0
for i in df["index"]:
    print(df2["index"][i])

    if df["index"][i]== df2["index"][i]:
        c+=1
        
# print(c)

979
1968
2203
2295
2660
2731
2733
3156
4485
4606
4689
5287
5857
7094
7139
7193
8590
8910
9514
11031
11189
11589
11690
12824
14295
14606
15665
15696
15931
16036
16187
16416
16482
16699
16891
17129
17536
17706
17864
17933
18019
18363
19032
19066
19067
19070
19071
19901
20615
21478
21622
22505
26481
26570
27789
28380
28876
28885
28967
29847
30812
30860
30884
30912
31003
31285
31503
31653
31845
33103
33185
34581
35962
37446
38886
39700
40954
41656
41765
42682
43469
43793
44690
44732
45599
45932
46216
46394
46775
48514
49027
49395
50394
51278
52163
52496
52648
52994
53443
55423
55756
56721
56884
58611
58964
59761
60069
60262
60466
60491
60810
60932
62835
63208
63681
63997
64534
64934
65972
66213
67583
67756
67782
67855
67887
67919
68229
68723
69176
69191
69473
69992
70363
70368
72630
73468
73945
74820
75577
76556
76559
76560
76638
76783
77355
77608
77813
78899
78911
78931
78952
79135
79569
79627
80721
80974
81766
82552
83031
83259
83763
84055
84250
84563
84692
84806
84830
85653
85811
86410
88470
88558
88568
89257
91093
91095
91211
91409
92236
92338
92340
92342
92343
92346
92347
92348
93027
93175
94299
94567
94721
95049
95282
95322
95387
95609
97578
97813
102825
104314
106008
106519
107742
108228
108385
109114
109257
110029
110725
110833
110859
111817
112037
113446
113617
114222
114944
117556
118332
119253
119354
120125
120486
120674
120783
120988
122430
122601
123586
124426
124673
124784
126218
126252
127221
127600
127607
128302
131002
131687
132117
132796
132853
132935
133269
133360
134368
134421
134422
134425
134426
134427
134428
135048
135106
135170
135602
135759
135800
135998
136181
136368
136379
136833
137030
137178
137476
138078
138422
138947
138952
139977
140054
140056
141052
141114
141115
141116
141118
141119
141122
141946
143375
144230
144264
145038
145274
147547
147795
147900
148086
150612
151034
152592
152832
153246
153877
154180
154859
155451
155993
156851
157034
157326
157675
157752
158568
159299
159717
160514
160664
160997
161182
161464
161996
163850
164022
164683
165515
165848

KeyError: 320

In [124]:
df2.head()

,index,user_location,address
0,979,"√úT: 52.5127, 13.3811","Schlacht um Berlin, Gertrud-Kolmar-Stra√üe, Mit..."
1,1968,"√úT: 51.551339,0.013024","52, Heyworth Road, London Borough of Newham, L..."
2,2203,"√úT: -26.532499,28.376949","Lesedi Ward 8, Lesedi Local Municipality, Sedi..."
3,2295,"√úT: 3.099457,101.681025","Tadika Sempurna, Jalan Desa Permai, Taman Desa..."
4,2660,"√úT: 51.534976,-0.122796","Chapel Down, Goods Way, Pentonville, King's Cr..."

In [135]:
for i in df2["index"].tolist():
#     df2.loc[df2["index"]==i, "address"].values[0]
    
    df.loc[i, ["user_location"]].replace(df.loc[i, ["user_location"]].values[0], df2.loc[df2["index"]==i, "address"].values[0])
    
#     print(df.loc[i, ["user_location"]].values[0])

In [136]:
#the above did not work either!

df.loc[[979]]

,index,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
979,979,Andri Yatim,"√úT: 52.5127, 13.3811","BLM, Everton, F1, Art, Music, Movies, Food - A...",2009-01-03 12:14:16,826,2078,2635,False,2020-07-25 11:59:15,Your religion is absolute bullshit if it insis...,NaN,Twitter Web App,False